@import "../../css/general";
.brands-section {
  background: white;
  text-align: center;
  padding: 25px;
  h2 {
    font-size: 1.8em;
    font-weight: 600;
    margin-bottom: 30px;
    span {
      color: $colorMainRegular;
    }
  }
}
.brands-list {
  max-width: 1200px;
  margin: 15px auto;
  li {
    list-style: none;
    display: inline;
    img {
      margin: 5px;
      max-width: 100px;
    }
  }
}
