@import "../../css/general";

.page-wrapper {
  background: $colorGgGray;
}
.gallery-body-wrap {
  margin: 50px auto;
  min-height: 600px;
}
.ReactGridGallery_tile-viewport {
  img {
    height: auto !important;
  }
}
